@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}

:root {
  --background-color: #000;
  --colorItens: #FEB800;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--colorItens);
  text-align: center;
}

#button-back {
  position: absolute;
  left: 10px;
  top: 1rem;
}

header h1{
  background: var(--colorItens);
  padding: 0.5rem;
  color: #000;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 900;
}

.info-assinatura {
  max-width: 650px;
  margin: 1rem;
}

.info-assinatura h2 {
  margin-bottom: 0.6rem;
}

.info-assinatura h3 {
  font-weight: 800;
}

.info-assinatura p {
  margin-bottom: 0.6rem;
}

.info-assinatura button {
  width: 90%;
  border: none;
  border-radius: 20px;
  background-color: var(--colorItens);
  font-weight: 600;
  margin: 0.5rem;
  padding: 0.6rem;
  font-size: 20px;
}

.info-assinatura button:hover {
  transition: 0.3s;
  border: 2px solid #FEB800;
  background: #000;
  color: #FEB800;
}

@media (min-width: 650px){
  .info-assinatura {
    margin: auto;
  }

  header {
    margin-bottom: 1rem;
  }
}