.site-view {
  cursor: pointer;
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  color: #000;
  font-weight: 800;
}

#backBtn {
  cursor: pointer;
}

.endereco-restaurante {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

